p{
    color: black;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    -webkit-box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
    box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72)
}
#bttn{
    float: right;
    text-decoration: none;
    padding-bottom: 10px;
}
